<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.profile }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div>
<div class="text-center align-items-center p-4">
  <p>
    Glad you stopped by! I like writing about things I learn, things I am interested in, and things that are on my mind.
    <br><br>
    "Currents:"
    <br>
    ----------
    <br>
    - Living in San Ramon, CA <br>
    - Learning how to play the piano <br>
    - Training for an Olympic Triathlon <br>
    - Shooting with Canon 5D, 24-70 f/2.8L <br>
    - Listening to Daft Punk <br>
  </p>
</div>
